<html>

<head>
  <!-- CSS only -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <title> {% block title %} {% endblock %} </title>
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
    <a class="navbar-brand" href="/">Costly &#x1F9A0;&#x1F9A0;&#x1F9A0;</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Find Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About us</a>
      <li class="nav-item">
      </li>
      </li>
    </ul>
  </nav>
  {% block content %} {% endblock %}
</body>

</html>